# Data Input and Output

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('example')

In [11]:
df.to_csv('My_output',index=False)

In [13]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15